<div class="alwayshp-content-mp">
    <div class="resource-mp" style="display:none;">
        <div class="bar-mp"></div>
        <div class="bar-change-mp noselect"></div>
    </div>
    <div id="alwayshp-btn-dead-mp" class="alwayshp-btn bad-ones" title="{{localize 'ALWAYSHP.SetToDead-mp'}}">
        <i class="fas fa-battery-empty"></i>
    </div>
    <div id="alwayshp-btn-hurt-mp" class="alwayshp-btn bad-ones" title="{{localize 'ALWAYSHP.HurtCharacter-mp'}}">
        <i class="fas fa-minus"></i>
    </div>
    <input id="alwayshp-mp" type="text" />
    <div id="alwayshp-btn-recover-mp" class="alwayshp-btn good-ones" title="{{localize 'ALWAYSHP.HealCharacter-mp'}}">
        <i class="fas fa-plus"></i>
    </div>
    <div id="alwayshp-btn-fullrecover-mp" class="alwayshp-btn good-ones" title="{{localize 'ALWAYSHP.HealFully-mp'}}">
        <i class="fas fa-battery-full"></i>
    </div>
</div>